<!-- <p>product-list works!</p> -->
<!-- 
<h1>Store</h1> -->

<h2>Products</h2>


<div id="b1">


<div id="b2" *ngFor="let product of products">
  
  <h3>
    <a 
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <app-product-item
  [product]="product"
  ></app-product-item>

  <!-- <p *ngIf="product.description">
    Description: {{product.description}}
  </p> -->

  <a href="https://web.telegram.org/" target="_blanck">
  <button type="button" (click)="share()">
    Share
  </button>
  </a>

  <app-product-alerts 
  [product] = "product"
  (notify)="onNotify()"
  >
  </app-product-alerts>
</div>


</div>
