#main{
  display: flex;
  flex-direction: row;
}

#img{
  margin-left: 100px;
  padding-right: 10%;
}

#disk{
  font-size: larger;
}

#disk button{
  width: 100px;
  height: 30px;
}

h2{
  margin-left: 20px;
}