ul{
  list-style-type: none;
  display: flex;
  margin-top: 40px;
}

ul button{
  width: 350px;
  height: 200px;
  font-size: 40px;
}

#all{
  margin-left: 20px;
  border: none;
  background-color: pink;
  width: 150px;
  height: 40px;
  font-size: larger;
}